@model ParkingLot

<h1>@Model.Address</h1>
<div>
    <p>@Model.Location</p>
    <p>@Model.Floor</p>
    <p>@Model.Spaces</p>
</div>

<table>
    
    @foreach (var ParkingSpace in Model.ParkingSpaces)
    {
        <tr>
        </tr>

    }
</table>




