@model ParkingLot
@*
    Same page for Add and Edit (actions)
    Add -> Model is null
    Edit -> Model is not null
*@

@{

    //Ternary operator
    var action = Model == null ? "Add" : "Edit";

    var parkingLotTypes = ViewData["ParkingLotTypes"] as ICollection<ParkingLotType>; //ICollection<ParkingLotType>
    IEnumerable<SelectListItem> plItems = new SelectList(parkingLotTypes, "Id", "Description");
}

@if (action == "Add")
{
    <h1>Add a new Parking Lot</h1>
}
else
{
    <h1>Edit Parking Lot</h1>
}



<form asp-action="@action" asp-controller="parkingLot" method="post">
    <div class="form-group">
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address">
        <span asp-validation-for="Address"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input class="form-control" asp-for="Location">
        <span asp-validation-for="Location"></span>
    </div>

    <div class="form-group">
        <label asp-for="Floor"></label>
        <input class="form-control" asp-for="Floor">
        <span asp-validation-for="Floor"></span>
    </div>

    <div class="form-group">
        <label asp-for="Spaces"></label>
        <input class="form-control" asp-for="Spaces">
    </div>

    <div class="form-group">
        <label asp-for="Size"></label>
        <input class="form-control" asp-for="Size">
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Handicap Parking</label>
    </div>

    <div class="form-group">
        <label asp-for="ParkingLotTypeId"></label>
        <select class="form-control" asp-for="ParkingLotTypeId" asp-items="@plItems"></select>
    </div>

    <button type="submit" class="btn btn-primary">@action</button>
    <a class="btn btn-secondary" asp-action="index" asp-controller="parkingLot">Cancel</a>


</form>


