@model List<ParkingSpace>

@{
    ViewData["Title"] = "Index";
}

<h1>Reserve a parking space</h1>

<table class="table">
    <tr>
        <th>Parking Lot Location</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Fare</th>
    </tr>


</table>

